<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="character-details">
        <p class="notice"><%= notice %></p>
        
        <%= render @character %>

        <div class="links">
          <%= link_to "Edit this character", edit_character_path(@character), class: "edit-link" %>
          <%= link_to "Back to characters", characters_path, class: "back-link" %>

          <%= button_to "Destroy this character", @character, method: :delete, class: "destroy-button", data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  </div>
</div>

